.footer {
    background-color: #f9f9f9;
    color: var(--color-text);
    font-size: 14px;
}

.container {
    width: 92%;
    max-width: 1400px;
    margin: 0 auto;
}

.footerTop {
    padding: 60px 0 40px;
    border-top: 1px solid #e5e5e5;
}

.footerLinks {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
    margin-top: 40px;
}

@media (max-width: 991px) {
    .footerTop {
        padding: 40px 0 20px;
    }

    .footerLinks {
        flex-wrap: wrap;
        gap: 30px;
    }
}